.history-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.delete-button {
  height: 2rem;
}
.domain-logo {
  width: 2rem;
}
.image-and-url {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
