.navbar {
  display: flex;
  background-color: #2850a7;
  padding: 1.5%;
}
.app-logo {
  margin-right: 20%;
  margin-left: 1%;
}
.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search-icon {
  padding: 1%;
}
input {
  border: none;
  outline: none;
  background-color: #3367d6;
  height: 100%;
}
.history-list {
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}
